catalog:
  host: https://catalog.api.flow.io
  operations:
    - DELETE /:organization/attributes/:name
    - GET /:organization/attributes/:name
    - PUT /:organization/attributes/:name
    - GET /:organization/attributes/versions
    - GET /:organization/attributes
    - POST /:organization/attributes
    - DELETE /:organization/catalog/items/:number
    - GET /:organization/catalog/items/:number
    - PUT /:organization/catalog/items/:number
    - GET /:organization/catalog/items/versions
    - GET /:organization/catalog/items
    - POST /:organization/catalog/items
    - POST /:organization/catalog/subcatalogs/:key/events/:event
    - GET /:organization/catalog/subcatalogs/:key/settings
    - PUT /:organization/catalog/subcatalogs/:key/settings
    - DELETE /:organization/catalog/subcatalogs/:key
    - GET /:organization/catalog/subcatalogs/:key
    - PUT /:organization/catalog/subcatalogs/:key
    - DELETE /:organization/catalog/subcatalogs/:subcatalog/items/:number
    - GET /:organization/catalog/subcatalogs/:subcatalog/items/:number
    - PUT /:organization/catalog/subcatalogs/:subcatalog/items/:number
    - GET /:organization/catalog/subcatalogs/:subcatalog/items/versions
    - GET /:organization/catalog/subcatalogs/:subcatalog/items
    - POST /:organization/catalog/subcatalogs/:subcatalog/items
    - GET /:organization/catalog/subcatalogs/versions
    - GET /:organization/catalog/subcatalogs
    - POST /:organization/catalog/subcatalogs
    - GET /:organization/catalog
    - DELETE /:organization/functions/:key
    - GET /:organization/functions/:key
    - PUT /:organization/functions/:key
    - GET /:organization/functions/versions
    - GET /:organization/functions
    - POST /:organization/functions
common:
  host: https://api.flow.io
  operations:
    - GET /_internal_/healthcheck
delivery_window:
  host: https://delivery_window.api.flow.io
  operations:
    - GET /:organization/delivery-windows/summary
experience:
  host: https://experience.api.flow.io
  operations:
    - DELETE /:organization/displays/:key
    - GET /:organization/displays/:key
    - PUT /:organization/displays/:key
    - GET /:organization/displays/versions
    - GET /:organization/displays
    - POST /:organization/displays
    - DELETE /:organization/experiences/:key
    - GET /:organization/experiences/:key
    - PUT /:organization/experiences/:key
    - POST /:organization/experiences/checkout
    - GET /:organization/experiences/items
    - GET /:organization/experiences/versions
    - GET /:organization/experiences
    - POST /:organization/experiences
fulfillment:
  host: https://fulfillment.api.flow.io
  operations:
    - GET /:organization/bookings/:id
    - GET /:organization/bookings/versions
    - GET /:organization/bookings
    - POST /:organization/bookings
    - DELETE /:organization/carrier_accounts/:id
    - GET /:organization/carrier_accounts/:id
    - PUT /:organization/carrier_accounts/:id
    - GET /:organization/carrier_accounts/versions
    - GET /:organization/carrier_accounts
    - POST /:organization/carrier_accounts
    - DELETE /:organization/centers/:id
    - GET /:organization/centers/:id
    - PUT /:organization/centers/:id
    - GET /:organization/centers/versions
    - GET /:organization/centers
    - POST /:organization/centers
    - GET /:organization/quotes/:id
    - GET /:organization/quotes/versions
    - GET /:organization/quotes
    - POST /:organization/quotes
    - GET /:organization/shipments/:id
    - GET /:organization/shipments/:tracking_number/labels/versions
    - GET /:organization/shipments/:tracking_number/labels
    - POST /:organization/shipments/:tracking_number/labels
    - GET /:organization/shipments/versions
    - GET /:organization/shipments
    - POST /:organization/shipments
    - DELETE /:organization/tiers/:id
    - GET /:organization/tiers/:id
    - PUT /:organization/tiers/:id
    - GET /:organization/tiers/versions
    - GET /:organization/tiers
    - POST /:organization/tiers
    - DELETE /carriers/:id
    - GET /carriers/:id
    - PUT /carriers/:id
    - GET /carriers/versions
    - GET /carriers
    - POST /carriers
    - DELETE /lanes/:id
    - GET /lanes/:id
    - PUT /lanes/:id
    - GET /lanes/versions
    - GET /lanes
    - POST /lanes
    - DELETE /services/:id
    - GET /services/:id
    - PUT /services/:id
    - GET /services/versions
    - GET /services
    - POST /services
harmonization:
  host: https://harmonization.api.flow.io
  operations:
    - GET /:organization/harmonization/duties/:origin
    - GET /:organization/harmonization/hs10/versions
    - GET /:organization/harmonization/hs10
    - GET /:organization/harmonization/hs6/versions
    - GET /:organization/harmonization/hs6
    - DELETE /:organization/harmonization/item-duties/:id
    - GET /:organization/harmonization/item-duties/:id
    - GET /:organization/harmonization/item-duties/versions
    - GET /:organization/harmonization/item-duties
    - POST /:organization/harmonization/item-duties
    - DELETE /:organization/harmonization/items/:number
    - GET /:organization/harmonization/items/:number
    - PUT /:organization/harmonization/items/:number
    - GET /:organization/harmonization/items/versions
    - GET /:organization/harmonization/items
    - POST /:organization/harmonization/items
    - GET /:organization/harmonization/settings
    - PUT /:organization/harmonization/settings
    - GET /:organization/harmonization/taxes
location:
  host: https://location.api.flow.io
  operations:
    - GET /locations
organization:
  host: http://localhost:6081
  operations:
    - DELETE /invitations/:id
    - GET /invitations/:id
    - GET /invitations/tokens/:token
    - PUT /invitations/tokens/:token
    - GET /invitations/versions
    - GET /invitations
    - POST /invitations
    - DELETE /memberships/:id
    - GET /memberships/:id
    - PUT /memberships/:id
    - GET /memberships/versions
    - GET /memberships
    - POST /memberships
    - DELETE /organizations/:id
    - GET /organizations/:id
    - PUT /organizations/:id
    - GET /organizations/versions
    - GET /organizations
    - POST /organizations
payment:
  host: https://payment.api.flow.io
  operations:
    - DELETE /:organization/authorizations/:id
    - GET /:organization/authorizations/:id
    - GET /:organization/authorizations/versions
    - GET /:organization/authorizations
    - POST /:organization/authorizations
    - GET /:organization/captures/:id
    - GET /:organization/captures/versions
    - GET /:organization/captures
    - POST /:organization/captures
    - POST /:organization/cards/:id/updates
    - DELETE /:organization/cards/:id
    - GET /:organization/cards/:id
    - GET /:organization/cards/versions
    - GET /:organization/cards
    - POST /:organization/cards
    - GET /:organization/refunds/:id
    - GET /:organization/refunds/versions
    - GET /:organization/refunds
    - POST /:organization/refunds
reference:
  host: https://reference.api.flow.io
  operations:
    - GET /countries
    - GET /currencies
    - GET /languages
    - GET /timezones
search:
  host: https://search.api.flow.io
  operations:
    - GET /:organization/search/catalog
    - GET /:organization/search/harmonization
    - GET /:organization/suggestion/catalog
    - GET /:organization/suggestion/harmonization
tracking:
  host: https://tracking.api.flow.io
  operations:
    - GET /events/:id
    - GET /events/versions
    - GET /events
    - GET /labels/:id
    - GET /labels/versions
    - GET /labels
    - POST /labels
    - GET /trackings/:id
    - GET /trackings/versions
    - GET /trackings
    - POST /trackings
user:
  host: https://user.api.flow.io
  operations:
    - DELETE /users/:id/passwords
    - PATCH /users/:id/passwords
    - GET /users/:id
    - PUT /users/:id
    - POST /users/authenticate
    - POST /users/emails/verifications/:token
    - POST /users/passwords/resets
    - POST /users/passwords
    - GET /users/versions
    - GET /users
    - POST /users